<head>
	<title>FlashMail - New User SignUp</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
</head>

<header><a href="http://localhost:3000/signin" title="Sign In">sign me in!</a></header><br><br>

<h2>New Message</h2>

<%= render "form"%>

