<head>
	<title>Help Page</title>
</head>


<header>
	<div class="topLeftDisplay">
		<li>FirstName LastName</li>
		<li><a href="http://localhost:3000/signin" title="Sign Out">sign out</a></li>
	</div><br>
	
	<div class="toprightDisplay">
		<p>Insert search box here - top right</p>
</header><br>



<h1><strong><em>F</strong></em>lash<strong><em>M</strong></em>ail</h1><br>

<h2>Help</h2>

<ul>
	<li>I forgot my User Name</li>
	<li>I forgot my Password</li>
	<li>I want to delete my FlashMail account</li>
</ul>

