<head>
	<title>FlashMail - New User SignUp</title>
	<%= stylesheet_link_tag    "login", media: "all" %>
</head>

<header><a href="http://localhost:3000/signin" title="Sign In">sign me in!</a></header><br>

<p class="alert"><%= flash[:alert] %></p>

	<%= render "form" %>
		
		<ul>
			<p>Send and receive fast, concise, safe, and prioritized mail</p>
			<p>Message length restricted to 20 words saving time</p>
			<p>Drop FlashMail into FlashCal to create events & reminders</p>
			<p>Open attachments & links right from your inbox</p>
		</ul>