<head>
	<title>FlashMail - New User SignUp</title>
	<%= stylesheet_link_tag    "login", media: "all" %>
</head>

<p class="alert"><%= flash[:alert] %></p>

<div class="errors">
<% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
</div>


	<%= render "form" %>
		
		<ul>
			<p>Send and receive fast, concise, safe, and prioritized mail</p>
			<p>Message length restricted to 20 words saving time</p>
			<p>Drop FlashMail into FlashCal to create events & reminders</p>
			<p>Open attachments & links right from your inbox</p>
		</ul>