body {
	background: #87CEFA;
}

header {
	color: blue;
	font-size: 15px;
	position: relative;
}

h1 {
	color: red;
	font-size: 50px;
	background: #FFE4E1;
/*	position: absolute;*/
	top: 10px;
	float: center;
	padding: 10px;
}

form {
	position: absolute;
	left: 20%;
	top: 33%;
	width: 25%;
	text-align: right;
	background: #FFE4E1;
	color: blue;
	padding: 10px;
	border: 2px ridge blue;
	
}

ul {
	color: blue;
	font-size: 20px;
	background: #FFE4E1;
	position: absolute;
	width: 35%;
	right:15%;
	top: 30%;
	padding: 5px;
	border: 2px ridge blue;
}

.users {
	background: #FFE4E1;
/*	position: absolute;*/
	float: left;
	top: 30%;
	left: 10%;
	padding-right: 15px;
	border: 2px ridge blue
}

h2 {
	position: absolute;
	top: 15%;
	color: red;
	
}

.user {
	background: #FFE4E1;
	position: absolute;
	top: 30%;
	left: 10%;
	padding: 50px;
	border: 2px ridge blue;
	color: gray;
}

.notice {
	color: green;
	background: white;
	margin-right: 90%;
}

.alert {
	color: red;
	background: white;
	margin-right: 90%;
}